<template>
    <Page>
        <ActionBar title="Kawabanga!"/>
        <ListView for="item in listOfItems" class="list-group" @itemTap="onItemTap">
        <v-template>
					<GridLayout class="list-group-item list" rows="*" columns="auto, *">
						<Image row="0" col="0" :src="item.src" class="thumb img-circle" />
						<Label row="0" col="1" :text="item.text" />
					</GridLayout>
				</v-template>
      </ListView>
    </Page>
</template>

<script>
import Element from '../components/Element';
  export default {
    components: {
      Element,
    },
    data() {
      return {
        msg: 'Hello Worldss!',
        listOfItems: []
      }
    },
    methods: {
      onItemTap(item) {
        this.$navigateTo(Element, { props: { itemID: item.index }});
        console.log(this.listOfItems[item.index].text);
      }
    },
    mounted () {
      this.listOfItems = this.$store.getters.getListOfData;
    },
  }
</script>

<style scoped>
    ActionBar {
        background-color: #53ba82;
        color: #ffffff;
        text-align: left;
    }
    .list{
      padding: 20 40;
      font-size: 15;
    }
    .message {
        vertical-align: left;
        text-align: center;
        font-size: 20;
        color: #333333;
    }
</style>
