<template>
<Page>
					<FlexboxLayout flexDirection="column" justifyContent="space-around">
						<Image height="70" :src="item.src" class="thumb img-circle" />
						<Label height="70" :text="item.text" alignSelf="center" />
					</FlexboxLayout>
</Page>  
</template>

<script>
export default {
    name: "Element",
    props: {
        itemID: Number,
    },
    data() {
        return {
            item: {},
            // itemID: 4
        }
    },
    mounted () {
        this.item = this.$store.getters.getListOfData[this.itemID];
        console.log('this.items is ', this.item.src);
    },
}
</script>

<style>

</style>